<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NhaSachOnline"
        tools:targetApi="31">

        <activity
            android:name=".activity.DangNhapActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <!--Khách hàng-->
        <activity
            android:name=".activity.DangKyActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activity.QuenMatKhauActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activity.QuenMatKhauXacNhanOTPActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activity.QuenMatKhauCapLaiMatKhauActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activity.ManHinhChinhKhachHangActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activity.ChiTietSanPhamActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activity.GioHangActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activity.ThanhToanActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activity.MaGiamGiaActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activity.TheoDoiDonHangActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activity.ChiTietTheoDoiDonHangActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activity.ThongTinKhachHangActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activity.ThayDoiThongTinKhachHangActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activity.DoiMatKhauActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activity.LichSuMuaHangActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activity.DanhGiaSanPhamActivity"
            android:exported="true"></activity>

        <!--Nhân viên-->
        <activity
            android:name=".activity.ManHinhChinhNhanVienActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activity.ThemNhanVienActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activity.SuaNhanVienActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activity.ManHinhQuanLyNhanVienActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activity.DanhMucSanPhamActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activity.PhanHoiYKienKhachHangActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activity.TraLoiBinhLuanActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activity.QuanLyDonHangActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activity.HuyDonHangActivity"
            android:exported="true"></activity>

        <!--Quản lý-->
        <activity
            android:name=".activity.ManHinhChinhQuanLyActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activity.QuanLySanPhamQLActivity"
            android:exported="true"></activity>
    </application>

</manifest>